@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

header{
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.1);
    position: relative;
}
header font{
    font-size: 3rem;
    font-weight: 700;
    color: rgb(255, 179, 0);
}
header span{
    font-size: 3rem;
    font-weight: 700;
}

main{
    width: 100vw;
    height: 80vh;
    background-color: rgba(0, 255, 255, 0.513);
    text-align: center;
    position: relative;
}
main .overview{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
main .overview h1{
    position: relative;
    text-align: center;
    padding: 20px;
}

main .box1{
    width: 440px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}
main .box1 span{
    font-size: 1.2rem;
    font-weight: 500;
}
main .box1 input{
    padding: 90px;
    width: 400px;
    flex-wrap: wrap;
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: 400;
}
main .box1 button{
    margin-top: 60px;
    width: 140px;
    height: 50px;
    background-color: rgb(255, 179, 0);
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    transition: .3s linear;
}
main .box1 button:hover{
    box-shadow: 2px 2px 30px rgba(255, 187, 0, 0.466);
    transition: .3s linear;
}

main .box2{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main .box2 .part1 {
    background-color: rgba(0, 255, 255, 0.513);
    width: 440px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
}
main .box2 .part2{
    background-color: white;
    width: 440px;
    height: 100px;
    margin: 20px;
    border-radius: 20px;
}